<!DOCTYPE html>
<html>
<head>
<style>
/* This applies to the body of the page making the entire background FloralWhite */
body {
  background-color: #FFFAF0;
}
/* The h1 applies to the firt headers defining text colour, alignment and size */
h1 {
	color: #006400;
	text-align: center;
	font-size: 26px;
}
/* The h2 applies to the second header defining the text colour, size and alignment */
h2{
	color: #2F4F4F;
	text-align: center;
	font-size: 18px;
}
/* The h3 applies to the third header defining the text colour, size and alignment */
h3 {
	color: #228B22;
	text-align: center;
	font-size: 16px;
}
/* The h4 applies to the fourth header defining the text colour, size and alignment */
h4 {
	color: #008000;
	text-align: center;
	font-size: 14px;
}
/* The p applies to the paragraph text defining the colour and size */
p {
	color: #6B8E23;
	text-align: center;
	font-size: 13px;
}

</style>
</head>
